body {
    padding-top: 70px;
}

.jofarlogo {
    cursor: pointer;
    background-color: white;
}

.home {
    /* background: url(images/tech-planet.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.quote-btn {
    color: red;
}

.smilingWoman2 {
    max-width: 2rem;
}

a {
    text-decoration: none;
}

.accordion-body {
    cursor: pointer;
}

main {
    min-height: 70vh;
}

.instagram {
    color: radial-gradient( circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

@media only screen and (max-width: 600px) {}